@font-face{
    font-family: product sans;
    src: url(../fonts/Product\ Sans\ Regular.ttf);
}
@font-face{
    font-family: Gotham;
    src: url(../fonts/Gotham-Book.otf);
}
body {
    font-family: product sans;
    background-color: #f8f9fa;
    color: #18181b;
}

nav {
    background-color: #18181b;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: rgba(117, 104, 104, 0.2) 0px 1px 8px 1px;
}

nav ul.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    color: #9ca3af;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
}

nav ul.navbar li a {
    text-decoration: none;
    color: #9ca3af;
    transition: color 0.3s ease;
}

nav ul.navbar li a:hover {
    color: white;
}

.container {
    display: flex;
    padding: 40px;
    gap: 40px;
    
}

.story {
    flex: 2;
    background: white;
    padding: 30px;
    border-radius: 12px;

}

.story img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
.story strong{
    font-family: product sans;
    font-weight: bold;
    font-size: 40px;
}
.story p {
    font-family: 'Gotham Thin', sans-serif;
    font-size: 18px;
    line-height: 1.3;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    background-color: white;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    height: min-content;
}
.name{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.news-card {
    height: 180px;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    text-align: center;
}

.news-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.news-card * {
    position: relative;
    z-index: 1;
}

.news-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.news-card p {
    font-size: 14px;
    font-family: product sans;
}

.news-card a {
    color: white;
    text-decoration: none;
}
footer {
    background-color: #18181b;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .terms {
    display: flex;
    padding-left: 40px;
  }
  
  .terms a {
    display: flex;
    padding-left: 40px;
    color: #9ca3af;
    font-family: Product Sans;
  }
  
  .captionLeft {
    display: flex;
    padding-left: 100px;
    font-family: Product Sans;
    color: #9ca3af;
  }
  
  .socials {
    display: flex;
    padding-right: 100px;
    padding-top: 15px;
  }
  
  .socials a {
    display: flex;
    padding-left: 30px;
    font-family: Product Sans;
  }